@import "tailwindcss";

/*@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));*/

@layer base {
    html,
    body,
    #root {
        height: 100%;
    }
    body {
        background-color: var(--color-gray-200);
        color: var(--color-gray-900);
        hyphens: auto;
        overflow-wrap: break-word;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -webkit-hyphens: auto;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
        white-space: unset;
    }
}

@theme {
}

@layer components {
    .link-primary {
        color: var(--color-amber-600);
        font-size: var(--text-xs);
        line-height: var(--tw-leading, var(--text-xs--line-height));
        transition-property:
            color, background-color, border-color, outline-color,
            text-decoration-color, fill, stroke, --tw-gradient-from,
            --tw-gradient-via, var(--tw-gradient-to);
        transition-timing-function: var(
            --tw-ease,
            var(--default-transition-timing-function)
        );
        transition-duration: var(
            --tw-duration,
            var(--default-transition-duration)
        );
        &:hover {
            @media (hover: hover) {
                color: var(--color-amber-700);
                text-decoration-line: underline;
            }
        }
    }
}
