VITE_BASE_API_PATH=/api
CLIENT_PORT=5173
SERVER_PORT=3000

NODE_ENV=development
LOG_LEVEL=http

CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:3000
DB_URL=postgresql://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}?schema=public

API_KEY_LATXA=AVeryLongStringAVeryLongStringAVeryLongStringAVeryLongStringAVeryLongStringAVeryLongString
API_URL_LATXA=https://zerbitzuak.hitz.eus/latxa/v1
API_MODEL_LATXA=ModelName

MCP_CODE_EXECUTION_SERVER_PATH=mcp/code-execution/dist/index.js

JWT_ACCESS_EXPIRATION=15m
JWT_ACCESS_SECRET=AVeryLongStringAVeryLongStringAVeryLongStringAVeryLongStringAVeryLongStringAVeryLongString
JWT_REFRESH_EXPIRATION=14d
JWT_REFRESH_SECRET=AVeryLongStringAVeryLongStringAVeryLongStringAVeryLongStringAVeryLongStringAVeryLongString

SALT_ROUNDS=10
