DB_URL=postgresql://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}?schema=public
CLIENT_URL=http://localhost:8011
JWT_ACCESS_EXPIRATION=15m
JWT_ACCESS_SECRET=AVeryLongString
JWT_REFRESH_EXPIRATION=14d
JWT_REFRESH_SECRET=AVeryLongString
LOG_LEVEL=http
NODE_ENV=development
SALT_ROUNDS=10
SERVER_PORT=3000
